<div class="jumbotron mt-1">
    <h1 class="display-4 text-center">Encuesta Satisfacción</h1>
    <br>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSeTC8H5_TK0bQiDFTeIyl50YAk5P2C7HnksLECrLStyyezZyg/viewform?embedded=true"
                    width="640" height="1459" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            </div>
        </div>
    </div>
    <div class="container col mx-auto">
    </div>
</div>