<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/56939.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/56935.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/56923.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/56900.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/56989.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://fondosmil.com/fondo/57000.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hábitos de vida saludables</h5>
                <p class="card-text text-justify">Llamamos hábitos saludables a todas aquellas conductas que tenemos asumidas como
                    propias en nuestra vida cotidiana y que inciden positivamente en nuestro bienestar físico, mental y
                    social. Determinan la presencia de factores de riesgo y/o de factores protectores para el bienestar.
                </p>
                <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Mi+enfermedad/Depresion/Afrontar+la+depresion/habitos+de+vida/"
                    class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
</div>
/*https://fondosmil.com/salud*/