<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Iniciar Sesión</h3>
            </div>
            <img src="/imageUsers/login.png" class="mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Correo">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>
                <button class="btn btn-primary btn-block">
                    Iniciar Sesión
                </button>
                </form>
            </div>
        </div>
    </div>
</div>